{% extends 'base.html.twig' %}

{% block title %}{{ post.title }} | ActuFoot{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="card mb-3 mt-5">
                <img class="card-img-top" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('large') }}" alt="Card image cap">
                <div class="card-body">
                    <h6><a href="{{ path('category', {id: post.category.id, slug: post.category.slug}) }}">{{ post.category }}</a></h6>
                    <h3 class="card-title text-center mt-3"><strong>{{ post.title | upper }}</strong></h3>
                    <p class="card-text text-justify mt-5">{{ post.content | raw }}</p>
                    <p class="card-text"><small class="text-muted">Posté le {{ post.postAt | date("d/m/Y à h:m") }} par {{ post.author }}</small></p>
                </div>
            </div>
        </div>
        <div>
            <h2 class="text-center">Laissez votre commentaire</h2>
            <div class="col-md-6 mt-4">
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <button class="btn btn-primary">Commenter</button>
                {{ form_end(form) }}
            </div>
            <h2 class="text-center">Commentaire(s)</h2>
            <table class="table table-striped mt-4">
                <tbody>
                {% for comment in post.comments %}
                    <tr>
                        <td>
                            <p><strong>{{ comment.user }}</strong> <em>le {{ comment.createdAt | date("d/m/Y à h:m") }}</em></p>
                            <p>{{ comment.content }}</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
